* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Maitree", serif;
    font-size: 125%;
    background-color: black;
    color: white;
}

.App {
    text-align: center;
}

.wrapper {
    max-width: 420px;
    width: 95%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}