.listNameBudget {
    margin-top: 25px;
}

.initialForm {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 5px;

    [type=text],
    button {
        margin: 5px auto;
        width: 50%;
        min-height: 40px;
        color: $backgroundColor;
        background-color: $green;
        border-color: $backgroundColor;
        border-radius: 10px;
    }

    [type=text] {
        padding-left: 10px;
    }

    button {
        box-shadow: 4px 4px 0px $not-so-white;
        background-color: $blueSeaColor;

        &:hover,
        &:focus {
            background-color: $strongPurple;
            color: $not-so-white;
            transform: translateX(4px);
            transform: translatey(4px);
        }
    }
}

.apiSearch {
    input {
        color: $backgroundColor;
        background-color: $green;
        border: 1px solid $backgroundColor;
        min-height: 35px;
        border-radius: 10px;
        padding-left: 10px;
    }

    button {
        background-color: $blueSeaColor;
        min-height: 30px;
        border: 1px solid $backgroundColor;
    }
}