.todo {
    height: 100vh;
}

.searchPageListContainer {
    position: relative;
    background-color: blue;

    .searchPageList {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        color: $not-so-white;
        border: 10px;
        background-color: $backgroundColor;
        padding: 10px;
    }
}

.searchResultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.searchCard {
    border: 3px solid $blueSeaColor;
    border-radius: 10px;
    margin: 5px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $green;
    color: $backgroundColor;
    padding: 10px 0;

    * {
        padding: 5px 0;
    }

    button {
        margin-top: 5px;
        padding: 5px 10px;
        background-color: $purple;
        border: 2px solid $backgroundColor;

        &:hover,
        &:focus {
            background-color: $strongPurple;
            color: $not-so-white;
        }
    }

    a {
        color: $backgroundColor;
        text-decoration: underline;
        transition: 0.5s;

        &:hover,
        &:focus {
            scale: 1.1;
        }
    }
}

.imgContainer {
    max-width: 400px;
    margin: 0 auto;
}