$purple: #C0C8F0;
$green: #DBF0EF;
$blueSeaColor: #97DAE8;
$not-so-white: #F1F1F1;
$inputFiledColor: #E5E7E6;
$backgroundColor: #212021;

// possible colors to use
$fontBlue: rgb(17, 103, 233);
$darkRed: #AA4465;
$strongPurple: #462255;

$headerFont: "Maitree",serif;
$bodyFont: "Montserrat", serif;